In [1]:
x=int(input())
area=22/7*(x**2)
print(area)

 5

78.57142857142857

In [6]:
n=input()
count=0
for chr in n:
    if chr in "aeiouAEIOU":
        count+=1
print(count)

 Hyderabad

3

In [13]:
x=input()
vowels="aieouAIEOU"
c=0
e=0
for i in x:
    if i not in vowels:
        c+=1
    else:
        e+=1
print("Consonants:",c)
print("vowels:",e)

 India

Consonants: 2
vowels: 3

In [20]:
n = [30, 42, 56, 70, 45, 35]
a= []
for i in n:
    if i % 5 == 0:
        a.append(i / 5)
    else:
        a.append(i)
print(a)

[6.0, 42, 56, 14.0, 9.0, 7.0]

In [24]:
n = [23, 24, 45, 67, 99, 54, 20]
e = []  
o = []  
for i in range(len(n)):
    if i % 2 == 0:
        e.append(n[i])
    else:
        o.append(n[i])
print(e)
print(o)

[23, 45, 99, 20]
[24, 67, 54]

In [25]:
n=[20,35,45,30,60,75,85,45,25,40]
o=0
e=0
for i in n:
    if i % 2 == 0:
        e+=i
    else:
        o+=i
print(e)
print(o)

150
310

In [27]:
n=[20,35,45,30,60,75,85,45,25,40]
o=0
e=0
for i in range(len(n)):
    if n[i] % 2 == 0:
        e+=i
    else:
        o+=i
print(e)
print(o)

16
29

In [2]:
n = ['Mumbai', 'Hyd', 'delhi', 'Dubai', 'Jaipur', 'Kolkata', 'Chennai', 'Dadar', 'Danish', 'japan', 'madhya', 'hero', 'daridam']
d = []
for chr in n:
    if chr.startswith('D') or chr.startswith('d'):
        d.append(chr)
print(d)

['delhi', 'Dubai', 'Dadar', 'Danish', 'daridam']

In [3]:
n = ['Mumbai', 'Hyd', 'delhi', 'Dubai', 'Jaipur', 'Kolkata', 'Chennai', 'Dadar', 'Danish', 'japan', 'madhya', 'hero', 'daridam']
i = [50, 40, 30, 20, 100, 350, 280, 200]
d = {}
for a in range(len(i)):
    d[n[a]] = i[a]

print(d)

{'Mumbai': 50, 'Hyd': 40, 'delhi': 30, 'Dubai': 20, 'Jaipur': 100, 'Kolkata': 350, 'Chennai': 280, 'Dadar': 200}